.login-section {
    display: flex;
    background: #FF3238;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    padding: 10px;
    margin-top: -2%;
    margin-bottom: 2%;
    border-bottom: white solid;

    div {
        margin-left: 10px;
        background: #FF3238;
        padding: 10px;
        font-size: 30px;
        color: white;

        input[type=text], input[type=password] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
          }

          button {
            background-color: #FFF4A6;
            color: black;
            padding: 14px 30px;
            margin-top: 38%;
            margin-bottom: 2px;
            border: none;
            cursor: pointer;
            width: 100%;
          }

          button:hover {
            opacity: 0.8;
          }

    }
}

.features-title {
    display: flex;
    justify-content: center;
    margin-top: -1%;
    margin-bottom: 2%;

    h2 {
        font-size: 70px;
    }
}

.section-1 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    margin-top: -1%;
    
    

    div {
       padding: 10px;
       padding-top: 12px;
       background: #0B607B;
       margin: 1%;
       border: white solid;

       h2 {
           margin-bottom: 5%;
           color: white;
       }

       p {
           color: #FFF4A6;
       }
    }


}

.section-2 {
    display: flex;
    justify-content: center;
    width: 30%;
    margin-top: 2%;
    margin-left: 550px;
    text-align: center;

    h2 {
        font-size: 70px;
        margin-bottom: 4%;
    }

    p {
        font-size: 20px;
    }
}

.social-title {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #28A40E;
    border: white solid;

    h2 {
        color: white;
        font-size: 40px;
    }
}

.section-3 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-left: -230px;
    margin-top: -150px;
    margin-bottom: -5%;
    


    .fa {
        padding: 150px;
        color: #FF3238;
        font-size: 50px;
        width: 50px;
        text-align: center;
        text-decoration: none;
        margin-bottom: -3%;

      }

      .fa:hover {
        opacity: 0.7;
      }
    
}